<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
    .wrapper{
        text-align: center;
        margin: auto;
        margin-top: 30px;
        border: 2px solid black;
        height: 100px;
        width: 500px;
    }   

    .form-group{
        text-align: center;
        margin-left: 280px;
        margin-top: 30px;
    }   
    </style>
</head>
<body>

    <div class="wrapper">

    <h2>Successfully logged in!</h2><br>

    <p> Welcome, {{ request.session.fname }}!</p>
    </div>
<!-- process is the rout -->
<form action='/logout' method='POST'>
    {% csrf_token %}
    
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">

            <button type="submit" name="logout" class="btn btn-primary">Logout</button>
        </div>
    </div>
</form>

</body>
</html>